// globals.scss

@import url('https://fonts.googleapis.com/css2?family=Bricolage+Grotesque:opsz,wght@12..96,200..800&display=swap');

:root {
  --font-family: "Bricolage Grotesque", sans-serif;
  --color: white;
  --opacity-color: rgba(255, 255, 255, 0.5);
  --bg-color: rgb(23, 23, 23);
  --bg-darker-color: rgb(0, 0, 0);
  --trans-bg-color: rgba(0, 0, 0, 0.5);
}

:root[data-theme='dark'] {
  --color: white;
  --opacity-color: rgba(255, 255, 255, 0.5);
  --bg-color: rgb(23, 23, 23);
  --bg-darker-color: rgb(0, 0, 0);
  --trans-bg-color: rgba(0, 0, 0, 0.5);
}

:root[data-theme='light'] {
  --color: black;
  --opacity-color: rgba(0, 0, 0, 0.5);
  --bg-color: white;
  --bg-darker-color: rgb(164, 162, 162);
  --trans-bg-color: rgba(255, 255, 255, 0.5);
}

*,
*:before,
*:after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

@media (prefers-color-scheme: light) {
  html {
    color-scheme: light;
  }
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}

body {
  -ms-overflow-style: none;
  scrollbar-width: 0;
  background-image: linear-gradient(to top, var(--bg-color), var(--bg-darker-color));
  background-color: black;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  font-family: var(--font-family);
  color: var(--color);
}

body::-webkit-scrollbar {
  display: none !important;
  width: 0;
}


h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
  font-family: var(--font-family);
}

a {
  color: inherit;
  text-decoration: none;
}

.container {
  // margin-top: 100px;
  // margin-bottom: 100px;
  padding: 0 25px;

  @media (max-width: 768px) {
    padding: 0 10px;
  }
}

.noise {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0.01;
  z-index: -2000;
  /* Réglez l'opacité de la couleur à 50% (0.5) ou à la valeur de votre choix */
  background-image: url('../assets/img/noise.gif');
}

svg path {
  fill: var(--color);
}

.link {
  cursor: pointer;
}

//transition ici
#transition-element {
  position: fixed;
  width: 100vw;
  height: 100vh;
  background-color: var(--bg-color);
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: center;
  z-index: 100;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: centers;

  svg {
    height: 100px;
    width: auto;

    opacity: 0.5;
    margin: 0 auto;

    path {
      fill: var(--color);
    }
  }
}