.container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 80%; /* Largeur du conteneur */
  max-width: 800px; /* Largeur maximale du conteneur */
  height: 600px; /* Hauteur du conteneur */
  margin: 0 auto; /* Centre le conteneur horizontalement */
  overflow: hidden; /* Empêche les éléments internes de dépasser et de créer des barres de défilement */
  opacity: 0.7; /* Opacité du conteneur */
}

// Responsive design
@media (max-width: 1200px) {
  .container {
    height: 500px; /* Réduction de la hauteur du conteneur */
  }
}

@media (max-width: 992px) {
  .container {
    width: 90%; /* Augmentation de la largeur du conteneur pour mieux utiliser l'espace */
    height: 450px; /* Réduction supplémentaire de la hauteur du conteneur */
  }
}

@media (max-width: 768px) {
  .container {
    width: 95%; /* Augmentation supplémentaire de la largeur du conteneur */
    height: 400px; /* Réduction supplémentaire de la hauteur du conteneur */
  }
}

@media (max-width: 576px) {
  .container {
    width: 100%; /* Utilisation complète de la largeur de l'écran */
    height: 350px; /* Réduction de la hauteur pour les très petits écrans */
  }
}
