.reveal {
  padding-left: 30%;
  padding-right: 10%;
}

.spacing-small {
  height: 50vh;
}

.spacing {
  height: 100vh;
}

.letter {
  display: inline-block;
  color: #A2A2A2; /* Couleur initiale des lettres */
  opacity: 0.5; /* Opacité initiale pour les lettres non révélées */
  transition: opacity 0.1s ease-in-out, color 0.1s ease-in-out;
}

.textContainer {
  font-size: 1.3rem;
  overflow: hidden;
  white-space: pre-wrap;
  word-wrap: break-word;
}

.word {
  display: inline-block;
  margin-right: 0.5rem;
}
